{% extends "base.html.twig" %}
{% block content %}
    <section class="content">
        <section class="box-title">
            {% include 'Components/breadcrumb.html.twig' %}

        </section>

        <section class="box-content">
            {% include 'Components/toolbar.html.twig' %}
            <table class="table table-bordered table-hover table-responsive no-margin">
                <thead>
                    <tr>
                        <th class="text-center"><input type="checkbox" class="flat-red" checked=""/></th>
                        <th>Actions</th>
                        <th>Role</th>
                        <th>Created Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center"><input type="checkbox" class="flat-red" checked=""/></td>
                        <td class="col-md-1">
                            <i class="fa fa-pencil"></i>
                            <i class="fa fa-eye"></i>

                        </td>
                        <td>ADMIN</td>
                        <td>11-7-2014</td>
                        <td><span class="label label-success">Active</span></td>
                    </tr>

                    <tr>
                        <td class="text-center"><input type="checkbox" class="flat-red" checked=""/></td>
                        <td class="col-md-1">
                            <i class="fa fa-pencil"></i>
                            <i class="fa fa-eye"></i>

                        </td>
                        <td>REPORT</td>
                        <td>11-7-2014</td>
                        <td><span class="label label-success">Active</span></td>
                    </tr>

                    <tr>
                        <td class="text-center"><input type="checkbox" class="flat-red" checked=""/></td>
                        <td class="col-md-1">
                            <i class="fa fa-pencil"></i> 
                            <i class="fa fa-eye"></i>

                        </td>
                        <td>ENTRY DATA</td>
                        <td>11-7-2014</td>
                        <td><span class="label label-success">Active</span></td>
                    </tr>
                </tbody>
            </table>

            {% include 'Components/pagination.html.twig' %}

        </section>
    </section>
{% endblock content %}
