<ul class="sidebar-menu">
    <li class="header">MAIN MENU</li>    
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i>
            <span>System Management</span>
            <span class="label label-primary pull-right">2</span>
        </a>
        <ul class="treeview-menu">
            <li><a href="{{ path('user_index') }}"><i class="fa fa-circle-o"></i> Users</a></li>
            <li><a href="pages/layout/boxed.html"><i class="fa fa-circle-o"></i> Menu</a></li>
        </ul>
    </li>
</ul>